<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <button type="button" id="submit">Start Quiz</button>

    <div id="game" class="hidden m-4" >
        <div id="progress"></div>
        <div id="result"></div>
    
        <h1>Question:</h1>
        <p id="question" style="font-size: medium;"></p>
    
        <h5>Which is the correct answer:</h5>
        <input id="answers" type="text" />
        <button id="submit2">Submit</button>
    </div>
</body>
</html>